@model IEnumerable<MyBlog.Models.Post>
@addTagHelper *, MyBlog

@{
    ViewData["Title"] = "Публікації";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Публікації</h1>

@if (User.Identity.Name == "mihail.fadeev@ukr.net")
{
    <p><a asp-action="Create">Створити нову публікацію</a></p>
}

<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Категорія:</label>
        &nbsp;&nbsp;
        @*<select name="categoryId" asp-items="Model.Categories" class="form-control"></select>*@
        &nbsp;&nbsp;&nbsp;
        <input type="submit" value="Обрати" class="btn btn-success" />
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>Зображення</th>
            <th>Категорія</th>
            <th>Заголовок</th>
            <th>Опис</th>
            <th>Дата</th>
            <th>Управління</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />

<!-- Pagination Controls-->
@*<page-link page-model="Model.Paginator" page-action="Index"></page-link>*@
<!-- /Pagination Controls-->
